/* -------------------------------------------------------------------------- */
/*                          Identity Color Definition                         */
/* -------------------------------------------------------------------------- */
// Text colors
$text_primary: rgba(255,255,255,0.87);
// $text_secondary: rgba(255,255,255,0.60);
// $text_disabled: rgba(255,255,255,0.30);


// Background colors
$background: #000000; // blue 2e3440  121212 missing color
$white: #fff;

/* -------------------------------------------------------------------------- */
/*                                  Scrollbar                                 */
/* -------------------------------------------------------------------------- */

// ::-webkit-scrollbar { width: 0.3vw; }
// ::-webkit-scrollbar-track { background-color: $background; }
// ::-webkit-scrollbar-thumb { background: $white; }

/* -------------------------------------------------------------------------- */
/*                                  Background                                */
/* -------------------------------------------------------------------------- */
body { background-color: $background; }

/* -------------------------------------------------------------------------- */
/*                                   Selection                                */
/* -------------------------------------------------------------------------- */
// ::selection { background: $text_secondary; }
// ::-moz-selection { background: $text_secondary; }