// Import identity
@import "design-system/css-reset";
@import "design-system/colors";
@import "design-system/typography";

.text-prompt {
    width: 70vw;
    height: 20vw;
    
    padding: 1em 1em;
    font-size: 1em;

    resize: none;

    border-radius: 1em;
}
section {
    top: 20px;
    display: block;
    position: absolute;
}